a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);
  transition: 0.2s;
  &:first-child {
    margin-right: 1.6rem;
  }

  img {
    width: 4rem;
    margin-right: 2.4rem;
  }
}

.primary {
  background: var(--color-primary);
  &:hover {
    background: var(--color-primary-lighter);
  }
}

.secondary {
  background: var(--color-secondary);
  &:hover {
    background: var(--color-secondary-dark);
  }
}
